:root {
    /* My Palette */
    /* Titlebar */
    --inf-grey1: #16171e;
    /* Side-est-bar */
    --inf-grey2: #1a1c23;
    /* Sidebar */
    --inf-grey3: #23252e;
    /* Body */
    --inf-grey4: #272a34;
    /* Buttons */
    --inf-grey5: #323643;

    /* Primary Blue */
    --inf-blue1: #2777ff;
    /* Secondary Blue */
    --inf-blue2: #005af3;

    /* Text */
    --inf-white3: #eeeeec;
    /* Sidebar Icons */
    --inf-white2: #bbbbbd;
    /* Inactive (Used with sidebar) */
    --inf-white1: #888a8d;

    --in-content-box-border-color: #d7d7db;
    --in-content-box-background: #fff;
}

input[type="checkbox"] {
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    padding: 1px;
    border: 1px solid var(--in-content-box-border-color);
    border-radius: 2px;
    margin: 0;
    margin-inline-end: 10px;
    background-color: var(--in-content-box-background);
    background-position: center;
    background-repeat: no-repeat;
}

input[type="checkbox"]:not(:disabled):hover {
    border-color: var(--in-content-border-focus);
}

input[type="checkbox"]:checked {
    background-image: url('/icons/check.svg');
    -moz-context-properties: fill;
    fill: var(--inf-blue1);
}

input[type="checkbox"]:disabled {
    opacity: 0.5;
}

input[type="checkbox"]:-moz-focusring + label:before {
    outline: 1px dotted;
}


/* fixes */
input[type="checkbox"] {
    min-width: 20px;
    min-height: 20px;
}


/* DARK theme */
html[data-theme="dark"] {
    --in-content-box-border-color: var(--inf-blue2);
    --in-content-box-background: var(--inf-grey3);
}

html[data-theme="dark"] input[type="checkbox"] {
    --in-content-box-border-color: var(--inf-grey4);
}
