
:root {
    /* My Palette */
    /* Titlebar */
    --inf-grey1: #16171e;
    /* Side-est-bar */
    --inf-grey2: #1a1c23;
    /* Sidebar */
    --inf-grey3: #23252e;
    /* Body */
    --inf-grey4: #272a34;
    /* Buttons */
    --inf-grey5: #323643;

    /* Primary Blue */
    --inf-blue1: #2777ff;
    /* Secondary Blue */
    --inf-blue2: #005af3;

    /* Text */
    --inf-white3: #eeeeec;
    /* Sidebar Icons */
    --inf-white2: #bbbbbd;
    /* Inactive (Used with sidebar) */
    --inf-white1: #888a8d;

    /* ------------------------------ */

    --stg-icon: url("/icons/icon.svg");

    --indent: 10px;
    --color-hr: #d7d7d7;

    --fill-color: #5d5d5d;

    --background-color: #ffffff;
    --text-color: var(--inf-white3);
    --discarded-text-color: var(--inf-white1);

    --input-background-color: var(--background-color);
    --input-text-color: var(--text-color);

    --color-light-gray: var(--inf-white3);
    --color-gray: var(--inf-white2);
    --color-dark-gray: var(--inf-white1);
    --color-dark-dark-gray: var(--inf-grey5);

    --outline-color: rgba(0, 0, 0, 0.5);

    --background-color-other: var(--color-gray);

    --in-content-border-focus: #0a84ff;
}

html[data-theme=dark] {
    --color-hr: var(--inf-grey4);

    --fill-color: var(--inf-white2);

    --background-color: var(--inf-grey3);
    --text-color: var(--inf-white3);

    --input-background-color: var(--inf-grey5);
    --input-text-color: var(--text-color);

    --outline-color: var(--text-color);

    --background-color-other: var(--input-background-color);
}

html[data-theme=dark] a:hover {
    color: var(--inf-blue2);
}

html[data-theme=dark] .checkbox:not([disabled]):hover,
html[data-theme=dark] .radio:not([disabled]):hover,
html[data-theme=dark] label:not([disabled]) {
    color: var(--input-text-color);
}

html[data-theme=dark] .input,
html[data-theme=dark] .textarea,
html[data-theme=dark] .button {
    color: var(--input-text-color);
    box-shadow: unset;
    border-color: var(--color-hr);
}

html[data-theme=dark] .input,
html[data-theme=dark] .textarea,
html[data-theme=dark] .select select {
    background-color: var(--input-background-color);
}

html[data-theme=dark] .select select {
    color: var(--inf-white3);
    border-color: var(--inf-grey3);
}

html[data-theme=dark] .button {
    background-color: transparent;
}

html[data-theme=dark] .input:focus,
html[data-theme=dark] .textarea:focus,
html[data-theme=dark] .button:focus {
    border-color: var(--inf-blue1);
}

html[data-theme=dark] .button.is-focused:not(:active) {
    box-shadow: 0 0 0 .125em var(--inf-blue1);
}

html[data-theme=dark] code {
    background-color: var(--inf-grey3);
    color: var(--inf-white2);
}

html[data-theme=dark] .select:not(.is-multiple):not(.is-loading)::after {
    border-color: var(--text-color);
}

html[data-theme=dark] .select:not(.is-multiple):not(.is-loading):hover::after {
    border-color: var(--inf-blue1);
}

/* global-classes */
.m-indent,
.my-indent,
.mb-indent,
.mb-indent-last:last-child {
    margin-bottom: var(--indent);
}
.m-indent,
.my-indent,
.mt-indent,
.mt-indent-first:first-child {
    margin-top: var(--indent);
}

.m-indent,
.mx-indent,
.ml-indent {
    margin-left: var(--indent);
}
.m-indent,
.mx-indent,
.mr-indent {
    margin-right: var(--indent);
}

.p-indent,
.py-indent,
.pb-indent,
.pb-indent-last:last-child {
    padding-bottom: var(--indent);
}
.p-indent,
.py-indent,
.pt-indent,
.pt-indent-first:first-child {
    padding-top: var(--indent);
}

.p-indent,
.px-indent,
.pl-indent {
    padding-left: var(--indent);
}
.p-indent,
.px-indent,
.pr-indent {
    padding-right: var(--indent);
}
